.header {
  padding-top: 20px;
  padding-bottom: 50px;
  background: url("../img/background3.jpg") no-repeat center;
  background-size: cover;
  background-color: $black;

  @include tablets {
    padding-top: 0;
  }

  @include phones {
    background: url("../img/background3-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.header__logo  path {
  fill: $pink;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    width: 100%;
    margin: 0;
  }
}

.header__logo {
  @include tablets {
    width: 55px;
    height: 55px;
    margin-top: 10px;
  }
}

.header__burger-button {
  display: none;
  outline: none;

  @include tablets {
    display: block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }
}

.header__burger-button svg {
  fill: $pink;
}
