.page-footer {
  padding: 40px 0;
  padding-bottom: 60px;
  background-color: $black;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.page-footer__logo {
  @include tablets {
    width: 55px;
    height: 55px;
  }
}

.page-footer__logo path {
  fill: $white;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablets {
    order: 2;
    align-items: center;
  }

  @include phones {
    margin-bottom: 20px;
  }
}

.page-footer__link {
  margin-bottom: 20px;
  text-decoration: none;
  color: $white;
  outline: none;
  transition: all 1s ease 0s;

  &:hover {
    color: $pink;
  }

  &:focus {
    color: $pink-opacity;
  }

  @include tablets {
    margin-bottom: 10px;
  }
}

.page-footer__link svg {
  transition: all 1s ease 0s;
}

.page-footer__link:hover svg {
  transform: rotate(-360deg);
}

.page-footer__link_email svg {
  margin-right: 5px;
}

.page-footer__developer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phones {
    margin-bottom: 20px;
  }
}

.page-footer__developer-info {
  display: block;
  margin-top: 10px;
  color: $pink;
  font-weight: bold;
  font-size: 18px;

  @include tablets {
    font-size: 16px;
    align-self: flex-start;
  }
}

.page-footer__social {
  list-style: none;
  width: 25%;

  @include tablets {
    order: 3;
  }

  @include phones {
    width: 220px;
  }
}

.page-footer__social svg {
  fill: $pink;
  transition: all 1s ease 0s;

  @include tablets {
    width: 30px;
    height: 30px;
  }

  @include phones {
    fill: $white;
  }
}

.page-footer__social a:hover svg {
  fill: $white;
  transform: rotate(360deg);
}

.page-footer__social a:focus svg {
  fill: $pink-opacity;
  transform: scale(1.2);
}

.page-footer__top-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: $pink;
  z-index: 50;
}

.icon-btn {
  width: 25px;
  height: 30px;
  transform: rotate(270deg);
  transition: all 0.5s ease-out;

  &:hover {
    transform: rotate(-90deg);
  }
}

.icon-btn polygon {
  fill: $white;
  transition: fill 0.5s ease-out;
}

.icon-btn:hover polygon {
  fill: $black-opacity-low;
}
