.swiper-container {
  width: 463px;
  height: 700px;
  padding-bottom: 50px;

  @include phones-min {
    width: 280px;
    height: 424px;
    margin: 0;
  }
}

.swiper-button-prev {
  left: -50px;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  @include tablets {
    display: none;
  }
}

.swiper-button-next {
  right: -50px;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  @include tablets {
    display: none;
  }
}

.swiper-slide_cert-four {
  background-image: url("../img/cert4.png");

  @include phones-min {
    background-image: url("../img/cert4-mobile.png");
  }
}

.swiper-slide_cert-one {
  background-image: url("../img/cert1.png");

  @include phones-min {
    background-image: url("../img/cert1-mobile.png");
  }
}

.swiper-slide_cert-two {
  background-image: url("../img/cert2.png");

  @include phones-min {
    background-image: url("../img/cert2-mobile.png");
  }
}

.swiper-slide_cert-three {
  background-image: url("../img/cert3.png");

  @include phones-min {
    background-image: url("../img/cert3-mobile.png");
  }
}


.swiper-pagination-bullet-active {
  background: $black;
}
